 # Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

env/
venv/
ENV/
env.bak/
venv.bak/

.ipynb_checkpoints/

.vscode/
.idea/
*.swp

data/
*.csv
*.tsv
*.xls
*.xlsx

*.h5
*.pkl
*.joblib

*.log

.DS_Store
Thumbs.db

*.bak
*.tmp
